init: 
    define narator = Character(' ', color="#3D15E0") 
    define silv = Character('Сильв', color ="#E08415")
    define boss = Character('Начальник', color ="#C9755D")
    define charname = "" 
    #define narrator = nvl_narrator
    
label start: 
    scene black
    narator "Введение в игру"
    #Наратор рассказывает историю мира
    
    
    
    
    
    
    #конец рассказа
    #Выбор персонажа
    narator "Введите мужское имя и выберите вашу историю"
    $ charname = renpy.input("Как тебя зовут?", "", allow="абвгдеёжзийклмнопрстуфхцчщшъьэюяАБВГДЕЁЖЗИКЛМНОПРСТУФХЦЧШЩЪЬЭЮЯ") #инпут имени персонажа который позволяет вводить только буквы русского языка.
    
    
menu:                               #выбор истории
    "{color=#D23A1F}Бывший военный{/color}":
        jump choice_military
        
    "{color=#D23A1F}Маг-инженер{/color}":
        jump choice_mage
        
    "{color=#D23A1F}Сирота{/color}":
        jump choice_orphan
            
label choice_military:
    $ char_class = "военный"
    $ strength = 5
    $ agility = 3
    $ intelligence = 3
    centered "{cps=30}Eще с раннего детства тебя привлекала сила, оружие и боевая магия, поэтому достигнув совершеннолетия ты без колебаний пошел в армию. Преуспевая на службе ты быстро поднялся по карьерной лестнице.                 Но во время одной из спецопераций получили боевое ранение в ногу и службу продолжить уже не смог. Эмоциональное потрясение после этого преследует тебя до сих пор.{/cps}"
    jump choice_class_done
 
label choice_mage:
    $ char_class = "маг"
    $ strength = 3
    $ agility = 3
    $ intelligence = 5
    centered "{cps=30}Тебя всегда привлекала магия. Еще учась в университете ты знал что станешь великим изобретателем. Огромный потенциал оправдал себя - ты был одним из тех кто смог оснастить ящериц крыльями и подарил людям возможность снова перемещаться. Однако на этом твоя исследовательская карьера закончилась. Ты не смог больше ничего изобрести. С тех пор у тебя постоянная депрессия.{/cps}"
    jump choice_class_done

label choice_orphan:
    $ char_class = "сирота"
    $ strength = 3
    $ agility = 5
    $ intelligence = 3
    centered "{cps=30}Ты никогда не знал своих родителей. Все свое детство ты провел в приюте, а после начал обучаться магическому искусству. Спустя несколько лет работы у местного мастера артефактов ты решил поступить в университет магических искусств. Провалив все вступительные экзамены ты вернулся к мастеру только для того чтобы узнать что твое место занято. Разбитый неудачами ты вступаешь в КВОС в качестве добытчика. Неудачи преследуют тебя по сей день.{/cps}"
    jump choice_class_done
        
label choice_class_done:           #выбор истории закончен продолжаем основной код
    #раздается звонок будильника и на экране проявляется фон команты гг
    charname "{cps=50}Чертов будильник..заткнись уже!{/cps}"
    charname "{cps=50}Черт возьми, опять опаздываю. В следующий раз нужно будет ставить будильник на час раньше{/cps}"
    charname "{cps=50}Пропускать работу точно нельзя, поэтому я могу либо позавтракать, либо принять душ, ну или забить на все и просто пойти на работу{/cps}"
menu:
    "{color=#D23A1F}Позавтракать{/color}":
        jump choice1_breakfast
    "{color=#D23A1F}Принять душ{/color}":
        jump choice1_shower
    "{color=#D23A1F}Забить на все{/color}":
        jump choice1_none
label choice1_breakfast:
    $ choice1 = 'breakfast'
    charname "{cps=50}Пожалуй самым оптимальным вариантом будет позавтракать, по крайней мере не умру с голоду{/cps}"
    centered "{cps=50}Приготовив на быструю руку простой, но сытный завтрак я оделся и пошел на работу.{/cps}"
    jump choice1_done
label choice1_shower:
    $ choice1 = 'shower'
    charname "{cps=50}Перекусить я смогу и на работе, стоит принять душ и освежиться{/cps}"
    centered "{cps=50}Приняв контрастный душ сразу же проснулся и почувствовал себя намного лучше и свежее. Нехотя оделся и выбежал на работу.{/cps}"
    jump choice1_done
label choice1_none:
    $ choice1 = 'none'
    charname "{cps=50}Я и так уже опаздываю, лучше пойти на работу прямо сейчас{/cps}"
    centered "{cps=50}Осознав то насколько сильно я опоздаю если начну готовить завтрак или принимать душ решил не делать ничего из этого. Пора бежать на работу.{/cps}"
    jump choice1_done
    
    ########################
    
label choice1_done:
    #фон меняется на рабочий фон
    centered "{cps=50}Прибыв на работу меня ждал неприятный сюрприз - экстренное совещание. Интересно было то, что на совещании было не так много людей как я предполагал.{/cps}"
    #фон меняется на фон совещания, рассказывается что бы на совещании
    centered "{cps=50}Как оказалось, последняя группа спустившаяся за кристаллами так и не вышла на связь.{/cps}"
    centered "{cps=50}Этой ночью их должны были подобрать на точке встречи и вернуть домой, но транспортировочный ящер вернулся пустой. Наездник сообщил что никаких следов пропавшей группы на точке встречи ему найти не удалось.{/cps}"
    centered "{cps=50}После недолгих расспросов стало ясно - все люди которые находились на собрании будут снаряжены и отправлены на поиски пропавшей группы.{/cps}"
    centered "{cps=50}Нас заранее предупредили, что это не полноценная вылазка. Нас не могу отправлять в группе иначе среди мирного населения возникнут вопросы о предыдущей группе. КВОС не может допустить паники.{/cps}"
    centered "{cps=50}Сегодня после заката нас по одному спустят в нижний мир под видом изгоев. Наша задача - отыскать следы пропавшей группы.{/cps}"
    centered "{cps=50}После собрания ко мне подошел наш начальник. Попросив пройти с ним он сообщил мне то чего я так боялся.{/cps}"
    #фон меняется на фон коридора либо холла
    #появляются две модельки - гг и начальник.
    boss "{cps=30}[charname], я не планировал выбирать тебя для этой миссии, но из-за одного обстоятельства мне пришлось сделать это. В составе пропавшей группы был Сильв. Я думаю тебе стоит это знать.{/cps}"
    charname "{cps=30}Сильв??! Какого черта он там делал? Он же не добытчик и не ученый!{/cps}"
    boss "{cps=30}У него были серьезные причины пойти вместе с этой группой именно в тот раз.{/cps}"
    charname "{cps=30}Что?! Какие еще причины? Почему вы его отпустили? Мирные жители не могут участвовать в вылазках в нижний мир!{/cps}"
    boss "{cps=30}Он не сказал почему, лишь сказал что это важно. Мне пришлось. Учитывая кто его отец я не мог ему отказать.{/cps}"
    
    ####################################
    
    
    #гг выбирает как отреагировать на слова начальника
menu:
    "{color=#D23A1F}Оскорбить{/color}":
        $ choice2 = 'оскорбить'
        charname "{cps=30}Ах ты ублюдок. Решил пожертвовать жизнью другого человека только бы не попасть под горячую руку Понтифия?{/cps}"
        jump choice2_insult
    "{color=#D23A1F}Понять{/color}":
        $ choice2 = 'понять'
        charname "{cps=30}Похоже Понтифий держит тебя в ежовых рукавицах. Думаю, если бы ты мог, то ты бы принял другое решение{/cps}"
        jump choice2_understand
    "{color=#D23A1F}Расспросить{/color}":
        $ choice2 = 'расспросить'
        charname "{cps=30}Что могло случиться такого важного, чтобы Сильв так резко подорвался и побежал в нижний мир? Это на него не похоже.{/cps}"
        jump choice2_explain
    "{color=#D23A1F}Проигнорировать{/color}":
        $ choice2 = 'проигнорировать'
        jump choice2_ignore
    "{color=#D23A1F}Упрекнуть{/color}":
        $ choice2 = 'упрекнуть'
        charname "{cps=30}Но ты ведь предупредил Понтифия о том, что отправил его единственного сына в нижний мир, не так ли?{/cps}"
        jump choice2_reproach
    "{color=#D23A1F}Действовать{/color}" if choice1 == 'breakfast' and char_class == 'военный':
        $ choice2 = 'действовать'
        charname "{cps=30}Я не могу ждать до заката. Я готов отправлятся сейчас же. И ты даш на это согласие.{/cps}"
        jump choice2_action
    "{color=#D23A1F}Паниковать{/color}" if char_class == 'сирота':
        $ choice2 = 'паниковать'
        "{cps=30}Как ты мог отправить Сильва в нижний мир? Ты же знаешь что он не готов к этому! Он не проходил подготовку! Он же почти всю жизнь провел в храме, как он выживет там, снизу?!{/cps}"
        jump choice2_panic
        #последствия выбора реакции на слова начальника
label choice2_insult:
    boss "{cps=35}Да как ты смеешь?! Да я ублюдок, который не хотел попасть под горячую руку. У меня есть семья и мне есть что терять!{/cps}"
    boss "{cps=35}Ответь мне на вопрос, ты бы смог принести моей жене новости о том что её муж и единственный кормилец в семье разгневал Понтифия и больше не вернется домой? Если бы я только мог ему запретить я так бы и сделал!{/cps}"
    charname "{cps=35}Ты просто трус!{/cps}"
    boss "{cps=35}Больше нехочу от тебя ничего слушать. Готовься к вылету. На закате ты должен быть на транспортной площадке. Ты летишь первым.{/cps}"
    jump choice2_done
label choice2_understand: 
    boss "{cps=30}Рад что ты это понимаешь. У тебя есть время собраться, советую провести его с пользой.{/cps}"
    $ strength += 1
    jump choice2_done
label choice2_explain:
    if char_class == 'военный':
        boss "{cps=30}Он не назвал мне никаких причин, но я обратил внимание на то, что его группа была по другому экипирована. Они несли меньше вооружения, меньше брони, меньше припасов. Такое впечатление, что они выдвигались в уже подготовленное заранее место.{/cps}"
        charname "{cps=30}Единственное \"подготовленное\" место в которое они могли были отправиться это Барук Кхазад{/cps}"
        boss "{cps=30}Единственное \"подготовленное\" место о котором мы {i}знаем{/i}.{/cps}"
        boss "{cps=30}Не забывай, не все отчеты которые присылают группы бывают правдивы. Что находится внизу знают лишь те кто там побывали{/cps}"
        charname "{cps=30}Ты прав. Мне нужно собираться. Увидимся на транспортной площадке{/cps}"
        jump choice2_done
    elif char_class == 'маг':
        $ intelligence += 1
        boss "{cps=30}Ты опытный маг, ты знаешь что Сильв не пошел бы в нижний мир просто так на прогулку. Есть какая-то причина по которой он пошел туда и не сказал об этом тебе - его лучшему другу{/cps}"
        charname "{cps=30}Может ли быть такое, что его послал сам Понтифий?{/cps}"
        boss "{cps=30}Маловероятно. Если бы Понтифий хотел послать своего единственного сына в нижний мир то он уж точно позаботился бы о его здравии. Но Сильв отправился в составе обычной группы, прихватив совсем немного экипировки и провизии.{/cps}"
        boss "{cps=30}Возможно его кто-то должен встретить или же он знает где можно остановиться{/cps}"
        charname "{cps=30}Спасибо, буду иметь это в виду. Мне пора собираться{/cps}"
        jump choice2_done
    else:
        boss "{cps=30}Я и так рассказал тебе все что я знаю. Сильв принял решение пойти вниз и не говорить тебе об этом. Значит у него были свои причины{/cps}"
        charname "{cps=30}Это на него совершенно не похоже.{/cps}"
        jump choice2_done
label choice2_ignore:
    boss "{cps=30}Тебе нужно отдохнуть и собраться перед вылетом. Проведи время с пользой.{/cps}"
    $ strength += 1
    $ agility += 1
    jump choice2_done
label choice2_reproach:
    boss "{cps=30}Следи за языком. Понтифий наверняка и так в курсе вылазки Сильва в нижний мир, нет нужды его беспокоить по этому поводу.{/cps}"
    boss "{cps=30}И не смей меня отчитывать, я не родственник и даже не товарищ.{/cps}"
    boss "{cps=30}Я больше не намерен выслушывать твои упреки, убирайся прочь!{/cps}"
    jump choice2_done
label choice2_action:
    boss "{cps=30}Хммм...{/cps}"
    boss "{cps=30}Хорошо, учитывая твое армейское прошлое я могу пойти на такие уступки. Собирайся.{/cps}"
    $ strength += 1
    jump choice2_done
label choice2_panic:
    $ strength -=1
    boss "{cps=30}Отставить панику солдат. Он отправился в составе группы. Да, они взяли меньше экипировки чем обычно, но все в этой группе кроме Сильва - опытные ветераны, не раз спускавшиеся вниз{/cps}"
    boss "{cps=30}Лучше сосредоточься на своем задании и поготовься к вылету. Запомни, на закате у транспортной площадки. Выполнять.{/cps}"
    jump choice2_done
        
##########################################        
    
    
label choice2_done:   
    #фон меняется на фон транспортной площадки
    #на фон добавляются персонажи гг и начальник
    boss "{cps=30}Время пришло. Ты готов?{/cps}"
    if choice2 == 'оскорбить':
        charname "{cps=30}Покончим с этим. Где мой ящер?{/cps}"
        boss "{cps=30}Уже ждет тебя.{/cps}"
        jump lizard_insult   #по умолчанию самый худший ящер, стартует в самом опасном месте + не возвращается на помощь
    elif choice2 == 'понять' or choice2 == 'расспросить' or choice2 == 'действовать':
        charname "{cps=30}Да, я готов. Где мой ящер?{/cps}"
        boss "{cps=30}Погоди. Я знаю насколько Сильв важен для тебя. Я знаю что так не положено но я дам тебе возможность самому выбрать себе ящера{/cps}"
        boss "{cps=30}Для тебя это наверное не имеет значения, но многие ящеры привязываются к своим наездникам и часто используются не только дял транспортировки.{/cps}"
        boss "{cps=30}Иногда ящеры могут прийти к тебе на помощь в сражении или при добыче материалов.{/cps}"
        boss "{cps=30}Поэтому выбирай внимательно.{/cps}"
        jump lizard_choice #переход к выбору ящера
    else:
        charname "{cps=30}Да, я готов. Где мой ящер?{/cps}"
        boss "{cps=30}Не торопись. Твой ящер уже ждет тебя. Ты помнишь как им управлять?{/cps}"
        charname "{cps=30}За кого ты меня принимаешь? Конечно помню.{/cps}"
        boss "{cps=30}Вот и отлично. Когда ящер доставит тебя до точки высадки обязательно все там осмотри. Я пониятия не имею куда пропал Сильв с группой, поэтому ищи зацепки везде где только сможешь.{/cps}"
        boss "{cps=30}На связь выходим как обычно, на защищенной волне. Шифр ты помнишь?{/cps}"
        charname "{cps=30}Помню, помню.{/cps}"
        boss "{cps=30}Хорошо. В таком случае я желаю тебе удачи солдат. Тебе повезло что у тебя нет семьи...{/cps}"
        charname "{cps=60}...{/cps}"
        $ lizard_class = 'обычный' #стандартная точка высадки. Ящер не возвращается на помошь.
        jump underworld 
label lizard_insult:
    $ lizard_class = 'худший'
    jump underworld
    
#########################
    
label lizard_choice:
menu:
    "{color=#D23A1F}Азурный{/color}":
        $ lizard_class = 'азурный'
        centered "{cps=30}Азурный ящер смотри на меня с недоумением. Похоже найти с ним общий язык мне будет тяжело.{/cps}"
        jump underworld
    "{color=#D23A1F}Пурпурный{/color}":
        $ lizard_class = 'пурпурный'
        centered "{cps=30}Пурпурный яшер выглядит обеспокоенно. Когда он замечает как я осторожно у нему подхожу он, похоже, успокаивается и дает себя оседлать.{/cps}"
        jump underworld
    "{color=#D23A1F}Серебрянный{/color}":
        $ lizard_class = 'серебрянный'
        centered "{cps=30}Гордый серебрянный ящер. Его чешуя поблескивает от лучей закатного солнца. Ящер презренно смотрит на меня пока я подхожу к нему. После недолгого обмена взглядами он разрешает оседлать себя.{/cps}" 
        jump underworld
    "{color=#D23A1F}Янтарный{/color}" if char_class == 'сирота':
        $ lizard_class = 'янтарный'
        centered "{cps=30}Янтарный ящер не отрывал взгляда от меня с тех пор как я пришел на транспортную площадку. Похоже он знает меня. Как только я подхожу к нему он жестами указывает на то чтобы я быстрее забирался к нему на спину.{/cps}"
        jump underworld
    "{color=#D23A1F}Алый{/color}" if char_class == 'маг':
        $ lizard_class = 'кровавый'
        centered "{cps=30}Алый, как сама кровь ящер сверлил меня взглядом с того самого момента как я ступил на транспортную площадку. Он излучает мощь и силу. Ящер кивком дает мне понять что он разрешает оседлать его. Это очень сильный союзник.{/cps}"
        jump underworld


######################
#Описываем прибытие гг в нижний мир. Всего 3 варианта места прибытия, условно - дальняя, ближняя, средняя.
label underworld:
    #фон перелета
    centered "{cps=30}Перелеты на ящерах никогда не переставали удивлять меня. Более того, похоже что для самих ящеров полеты все также оставались чем-то невероятным. Из школьного курса истории я помню что когда-то давно ящеры жили на земле и думать не думали о полетах. Люди и ящеры достаточно быстро нашли общий язык - люди избавили ящеров от необходимости охотиться и зависеть от охоты, а ящеры дали возможность людям быстрее и проще развивать агрикультуру.{/cps}"
    if char_class == 'маг' :
        #фон приспособления крыльев ящеру
        centered "{cps=30}Я был одни из первых кто изобрел для них крылья. Направляя магическую энергию в правильное русло мы смогли создать материю, которая была легкой и прочной. В добавок к этому она могла генерировать подъёмную силу, поэтому идеально подходила под понятие - крылья. Объединив ящеров с этой технологией мы получили пожалуй самых сильных союзников - прирученных летающих рептилий.{/cps}"
    else :
        centered "{cps=30}Маги-инженеры сразу положили глаз на этих устрашающих рептилий. Не прошло и десятка лет как они смогли придумать как прицепить к ним на спины крылья и уже через пару лет мы смогли летать на них также непринужденно, как когда-то ездили на лошадях.{/cps}"
        centered "{cps=30}Я всегда боялся таких перелетов. Когда сидишь на спине у огромной летающей рептилии находясь в сотнях километрах над землей чувство тревоги подкрадывается само собой. Тяжело не думать о том, что будет свались я отсюда. Знает ли этот ящер куда лететь? Знает ли что у него на спине сидит человек? Что если ему вздумается перевернуться в воздухе просто так?{/cps}"
        centered "{cps=30}Но похоже мой страх был не оправдан. Ящер отлично знал куда лететь - они совершают такие перелеты по несколько раз в день. Да и надежная фиксация наездника на спине не дала бы мне свалиться. Мне нужно было успокоиться и не поддаваться страху, ведь я уже не первый раз спускаюсь в нижний мир на ящере.{/cps}"
    # пауза, персонаж добирается до места высадки.
    
    centered "{cps=30}До места высадки я добрался к вечеру. \"Место высадки\" из себя представляло небольшой бункер внутри которого можно было укрыться от опасностей нижнего мира. Уже слишком поздно и темно чтобы начинать поиски. Нужно поспать. {/cps}"
    
    # пауза, персонаж засыпает
     
    #Дальше идет 3 ветки сюжета. Первая - при выборе класса дракона - худший. Вторая - при выборе класса дракона обычный. Третья - при выборе любого класса дракона иключая обычного и худшего.
    

    if lizard_class == 'худший' :
        jump first_base
    elif lizard_class = 'обычный':
        jump second_base
    else :
        jump third_base
    label first_base:    
        
        
        centered "{cps=30}Я проснулся от громкого завывания ветра. Снаружи началась песчаная буря. К сожалению я не мог тратить время зря, мне нужно было выдвигаться.{/cps}"
        charname "{cps=30}Так, вроде бы все собрал. Хорошо что я не забыл забрать с ящера свисток, он может мне еще пригодится.{/cps}"
        centered "{cps=30}Внутри бункера я не нашел никаких следов группы или Сильва, так что думаю смело можно предположить, что они высаживались в другом месте. Это означает что первый пункт  моем плане - добраться до их точки высадки.{/cps}"
        centered "{cps=30}Уверенно распахнув двери бункера я вышел в пустошь. Из-за бури разглядеть что-либо было невозможно. Наспех замотав лицо шарфом чтобы не повредить глаза я побрел в северном направлении от бункера - там, судя по карте, располагалась следующая из трех возможных точка высадки.{/cps}"
        centered "{cps=30}Почва под моими ногами была твердая и иссушеная. То здесь, то там виднелись трещины, какие-то больше, какие-то меньше. Спустя несколько часов блуждания я натыкаюсь на некое подобие дороги. Она ведет на северо-запад - немного левее от того места куда я сейчас направляюсь. Но если сдесь есть дорога, то очевидно что она куда-то ведет. Я мог бы проследовать по ней и посмотреть куда она ведет.{/cps}"
        
        #свернуть с дороги и потерять стат или продолжить путь
        menu:
            "{color=#D23A1F}Свернуть на северо-запад и проследовать по дороге{/color}":
                centered "{cps=30}Почему-то я решил отклониться от своего первоначального маршрута и пойти по дороге. Что-то в ней было завораживающим. Возможно я просто был рад тому, что наконец нашел что-то?{/cps}"
                jump road_fatigue
            "{color=#D23A1F}Идти дальше. Не стоит лишний раз сворачивать с дороги.{/color}":
                centered "{cps=30}Я решил продолжить свой путь и не сворачивать. Мало ли что может быть в конце той дороги. Более того, мне не стоит терять еще больше времени, нужно разыскать следы Сильва.{/cps}"
                jump road_continue
        label road_fatigue:
            centered "{cps=30}Потратив 2 часа на то чтобы дойти до конца дороги я понял что так никуда и не пришел. Разбитый тратой времени и сил я вернулся назад и продолжил путь уже в правильном направлении.{/cps}" 
            $ strength -= 1
            jump road_continue
            
            ##########  The Sole Regret
        label road_continue:
            
            #фон с видом на каньон снаружи
            centered "{cps=30}Буря стала немного утихать. Как оказалось я подошел к небольшому каньону. Если вспомнить карту, то вторая точка высадки должна быть как раз за ним. Надеюсь там я смогу найти следы Сильва и его группы.{/cps}"
            #фон с видом каньона изнутри
            centered "{cps=30}Я двинулся вглубь. Буря наконец полностью утихла и я смог осмотреться. Каньон оказался рукотворным. Похоже когда-то давно здесь использовалась могущественная магия. Стены каньона были гладкими, со скругленными краями, а в некоторых местах были вырезаны целые отсеки, в которых после бури собралось много мусора.{/cps}"
            centered "{cps=30}Постепенно продвигаясь вперед я стал замечать все больше и больше следов людского труда. В некоторых местах все еще лежали кирки и лопаты, а на земле валялись перчатки и разбитые каски. На некоторых стенах до сих пор оставались небольшие черные пятна - отпечатки древней магии.{/cps}"
            if char_class == 'маг' :
                #фон крупный план отпечатка
                centered "{cps=30}Присмотревшись к отпечатку я заметил, что магия не настолько уж и древняя. Проанализировав отпечаток мне удалось обнаружить, что возраст этих пятен - не более 2 лет. Но 2 года назад сдесь никто не проводил никаких исследований. Более того, сам каньон намного старше. Это могло означать что несколько лет тому назад сдесь было сражение. Возможно какая-то группа попала в засаду разбойников-моров, возможно кто-то отбивался от мутантов. Сейчас я не мог узнать что же произошло тут на самом деле.{/cps}"
            else :
                jump road_continue1
        label road_continue1:
            centered "{cps=30}Я потратил около часа времени для того чтобы дойти до того, что казалось бы концом каньона. Я оказался на небольшой развилке. Дальше каньон разделялся на два пути - первый вел куда-то влево, а второй дальше вперед. Проблема в том, что дорогу дальше мне перегородило огромное высохшее дерево, которое видимо свалилось сюда с края каньона. Мне нужно попытаться отодвинуть его. Если не выйдет - другого варианта нету, придется идти налево.{/cps}"
        menu: 
            "{color=#D23A1F}Попытаться сдвинуть дерево{/color}":
                if strength > 5 :
                    jump log_moved
                else :
                    jump log_move_failed
            "{color=#D23A1F}Не тратить время и сразу пойти налево{/color}":
                jump log_move_abandon
                
        
        
        
        label log_moved:
            centered "{cps=30}Тренировки не прошли зря и уже через минуту дерево было отодвинуто в сторону. Путь был свободен и я с облегчением выдохнул. Третья точка высадки должна быть в паре часов хотьбы в этом направлении. Я думаю я смогу успеть дойти туда до ночи.{/cps}"
            centered "{cps=30}Я сразу же двинулся в путь и через несколько часов я уже видел вдали серое здание бункера.{/cps}"
            jump third_base_arrival1 ##### предпосылки к приходу к третьей базе из "худшего" развития событий
            
            
            ################## переход на третью точку высадки
            
            #####################
            
        label log_move_failed:
            centered "{cps=30}Я попытался столкнуть дерево, но оно даже не сдвинулось с места. Придется пойти по другой дороге.{/cps}"
            jump move_to_second_base 
        label log_move_abandon:
            centered "{cps=30}Я решил не тратить силы и время на это дерево и сразу пошел в обход.{/cps}"
            jump move_to_second_base 
            
        label move_to_second_base:
            centered "{cps=30}Как оказалось эта дорога вела как раз ко второму месту высадки. Я мог бы обыскать его на наличие припасов или возможно какой-то информации, а затем дивнуться в сторону третьей точки. Каньон постепенно закончился и я вышел на мощеную дорогу. В течени пары часов я уже был рядом с местом назначения. Вдалеко виднелся небольшой серый бункер и посадочная площадка рядом с ним. Наконец я смогу отдохнуть{/cps}"
            centered "{cps=30}Прибыв к бункеру я с трудом открыл массивную дверь из литой стали, зашел внутрь и устроился на ночлег. Сейчас уже слишком поздно что-то делать. Нужно выспаться.{/cps}"
            jump second_base
            
            
    #############Второй возможный вариант развития событий, вторая точка высадки.
    label second_base:
        #фон бункера
        centered "{cps=30}Утром меня разбудил будильник, сигнализирущий готовность приема связи по воксу. После катаклизмов использовать радиотехнологии стало труднее из-за большого количества помех, поэтому сеансы радиосвязи происходят строго в определенное время, и даже так, стабильного сигнала никто не мог гарантировать. Я продрал глаза, быстро встал с кровати и сел за стол, готовясь принять входящий сигнал.{/cps}"
        
        "{cps=30}...{/cps}"
        "{cps=30}....{/cps}"
        "{cps=30}...рием!Ка... слыш...?{/cps}"
        "{cps=30}Прием!Как слышно?{/cps}"
        charname "{cps=30}Прием, слышно хорошо.{/cps}"
        boss "{cps=30}Как твои успехи?{/cps}"
        if lizard_class == 'худший':
            charname "{cps=30}Вчера я успешно высадился на первой точке, но не нашел никаких улик. Весь день добирался до второй точки. Мне еще предстоить обыскать её и к вечеру этого дня я планирую дойти до третьей точки и продолжать поиски там."
        else:
            charname "{cps=30}Высадился на второй точке. Мне еще предстоить обыскать её и к вечеру этого дня я планирую дойти до третьей точки и продолжать поиски там.{/cps}"
        boss "{cps=30}Хорошо. Боец который спустился сразу после тебя сообщил о поселении недалеко от третьей точки высадки. Это не Барук Кхазад. Будь осторожен.{/cps}"
        charname "{cps=30}Принято. Постараюсь не забыть.{/cps}"
        boss "{cps=30}Конец связи.{/cps}"
        charname "{cps=30}Конец связи.{/cps}"
        #наружный фон второй точки
        centered "{cps=30}Разговор с боссом меня немного взбодрил. Я оделся, позавтракал на скорую руку и решил приниматься за работу. Отперев огромную дверь бункера меня ждал сюрприз. Погода была ясной и на улице было тепло. Для начала я решил осмотреться вокруг.{/cps}"
        centered "{cps=30}Площадка вокруг бункера выглядела достаточно чисто и ухоженно. Похоже это место высадки пользовалось популярностью. Потратив пару часов на исследование местность вокруг бункера и площадки я пришел к выводу, что Сильв и его группа тут не высаживались. Пора двигаться дальше, к третьей точке.{/cps}"
        #фон меняется на легкий пустынный/иссушенный
        centered "{cps=30}Я чувствовал что найду что-то на третей точке. Хоть интуиция меня часто подводила, я был уверен что найду следы Сильва там. Или хотя бы то, что поможет мне найти его следы. Но даже если и в этот раз интуиция меня подведет - я не собирался сдаваться. Я уже разработал примерный план действий именно на такой случай. Я буду двигаться в Барук Кхазад.{/cps}"
        centered "{cps=30}Я быстро приближался к третьей точке высадки. Внезапно, впереди меня я увидел огромную плиту из серого камня. Плита явно была рукотворной - острые аккуратные углы и полированная поверхность выдавала в ней произведение человеческого искусства. Приблизившись к ней я увидел сверкающий участок на поверхности плиты. Я прикоснулся к нему...{/cps}"
        centered "{cps=30}Земля под ногами немного дрогнула. На плите начали загораться буквы{/cps}"
        $ riddle_answer = renpy.input("Кто говорит на всех языках?", "", allow="абвгдеёжзийклмнопрстуфхцчщшъьэюяАБВГДЕЁЖЗИКЛМНОПРСТУФХЦЧШЩЪЬЭЮЯ") #инпут ответа на загадку
        if riddle_answer == 'эхо' or riddle_answer == 'Эхо' or riddle_answer == 'ЭХО' or riddle_answer == 'эХо' or riddle_answer == 'эхО' or riddle_answer == 'ЭХо' or riddle_answer == 'эХО' or riddle_answer == 'ЭхО':
            centered "{cps=30}Плита задрожала, надпись засияла ярким белым светом. Я почувствовал себя немного умнее{/cps}"
            $ intelligence +=1
        else :
            centered "{cps=30}Надпись резко потухла. Плита больше не никак не реагировала.{/cps}"
        charname "{cps=30}Не знаю что это было, но пора двигаться дальше. Я обошел плиту и побрел вперед. До третьей точки было еще примерно полдня пути... {/cps}"
        jump third_base_arrival1
        label third_base_arrival1:
            centered "{cps=30}До бункера я добрался уже ночью. Обессиленный, я немедленно лег спать.{/cps}"
            jump third_base
        
        
        
        
    
        
    label third_base:
        "test"
            
            






return
